<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279173872689-soc2742hgvcdsm701pi780vdomn1qkjf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279173872689-soc2742hgvcdsm701pi780vdomn1qkjf</string>
	<key>API_KEY</key>
	<string>AIzaSyBuvfLXUHmm3qhfMP2Q8WAKMP4SSeWbOMY</string>
	<key>GCM_SENDER_ID</key>
	<string>279173872689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PEPUL-TECH-PRIVATE-LIMITED.consoleFireBase</string>
	<key>PROJECT_ID</key>
	<string>demofb-66295</string>
	<key>STORAGE_BUCKET</key>
	<string>demofb-66295.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279173872689:ios:62d335399253c9f11ea910</string>
</dict>
</plist>